<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brp.mapper.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.brp.entity.Area" >
    <id column="cityId" property="cityId" jdbcType="VARCHAR" />
    <id column="areaId" property="areaId" jdbcType="VARCHAR" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
  </resultMap> 
     
  <sql id="Base_Column_List" >
	  cityId,areaId,areaName
  </sql>
  <insert id="insertArea" parameterType="com.brp.entity.Area" >
    insert area
   		(cityId,areaId,areaName) 
    values
    	( #{cityId,jdbcType=VARCHAR},#{areaId,jdbcType=VARCHAR},#{areaName,jdbcType=VARCHAR})
  </insert>
 
<select id="getAreaListByCityId" resultMap="BaseResultMap" parameterType="java.lang.String">
 	select  <include refid="Base_Column_List"/>  from area where cityId=#{cityId}
 	</select>
	
</mapper>