<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brp.mapper.AuthorityUserMapper" >
  <resultMap id="BaseResultMap" type="com.brp.entity.AuthorityUserEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="auth_id" property="authId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
	<result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap> 
  
  <sql id="Base_Column_List" >
	   id,auth_id,user_id,company_id,is_delete
  </sql>
  <insert id="insertAuthorityUser" parameterType="com.brp.entity.AuthorityUserEntity"  useGeneratedKeys="true" keyProperty="id">
    insert authority_user
   		(auth_id,user_id,company_id,is_delete) 
    values
    	( #{authId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER},#{isDelete,jdbcType=INTEGER})
  </insert>
  
    
    
    <select id="getAuthorityUserList" resultMap="BaseResultMap" parameterType="com.brp.util.query.AuthorityUserQuery" >
         select 
         <include refid="Base_Column_List" />
         from authority_user
         where is_delete = 0
         <trim prefix=" " suffix="" suffixOverrides="" >
		     <if test="authId != null and authId != ''" >
		       and auth_id =  #{authId}
		      </if>
		      <if test="companyId != null and companyId != ''" >
		       and company_id =  #{companyId}
		      </if>
		      <if test="userId != null and userId != ''" >
		       and user_id =  #{userId}
		      </if>
		 </trim>
         
    </select>
     <update id="cancelAuthority">
		update authority_user set is_delete = 1 where id in(${idList}) and company_id=#{companyId} and is_delete = 0
		 
	</update>
	<update id="batchCancelAuth">
		update authority_user set is_delete = 1 where user_id in(${userIdArr}) and company_id=#{companyId} and is_delete = 0 and auth_id=1
		 
	</update>
	
</mapper>