<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brp.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.brp.entity.CompanyEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_telephone" property="companyTelephone" jdbcType="VARCHAR" />
    <result column="company_ceo" property="companyCeo" jdbcType="VARCHAR" />
    <result column="company_site" property="companySite" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="parent_company_id" property="parentCompanyId" jdbcType="INTEGER" />
    <result column="parent_company_name" property="parentCompanyName" jdbcType="VARCHAR" />
    <result column="secret" property="secret" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap> 
     
  <sql id="Base_Column_List" >
	   id,create_user,update_user,create_time,update_time,
   		company_name,company_telephone,company_ceo,company_site,company_address,
   		level,parent_company_id,parent_company_name,status
  </sql>
  <insert id="insertCompany" parameterType="com.brp.entity.CompanyEntity" >
    insert company
   		(create_user,update_user,create_time, update_time,
   		company_name,company_telephone,company_ceo,company_site,company_address,
   		level,parent_company_id,parent_company_name,secret,status) 
    values
    	( #{createUser,jdbcType=VARCHAR},#{updateUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},
    	#{companyName,jdbcType=VARCHAR},#{companyTelephone,jdbcType=VARCHAR},#{companyCeo,jdbcType=VARCHAR},#{companySite,jdbcType=VARCHAR},#{companyAddress,jdbcType=VARCHAR},
    	#{level,jdbcType=INTEGER},#{parentCompanyId,jdbcType=INTEGER},#{parentCompanyName,jdbcType=VARCHAR},#{secret,jdbcType=VARCHAR},#{status,jdbcType=INTEGER})
  </insert>
  <select id="getCompanyPage" resultMap="BaseResultMap" parameterType="com.brp.util.query.CompanyQuery" >
         select 
         <include refid="Base_Column_List" />
         from company
         where 1=1
         <trim prefix=" " suffix="" suffixOverrides="" >
		     <if test="level != null and level != ''" >
		       and level =  #{level}
		      </if>
		      <if test="companyName != '' and companyName != null" >
		       and company_name = #{companyName}
		      </if>
		     
		 </trim>
		 
         order by create_time desc
    </select>
    
    <select id="getSubCompanyPage" resultMap="BaseResultMap" parameterType="com.brp.util.query.CompanyQuery" >
        select 
         <include refid="Base_Column_List" />
         from company
         where parent_company_id=#{companyId}
         order by create_time desc
    </select>
	<update id="updateCompany" parameterType="com.brp.entity.CompanyEntity">
		update company set 
		<if test="createUser != null">
			create_user=#{createUser,jdbcType=VARCHAR},
		</if>
		<if test="updateUser != null">
			update_user=#{updateUser,jdbcType=VARCHAR}, 
		</if>
		<if test="createTime != null">
			create_time=#{createTime,jdbcType=TIMESTAMP},
		</if>
		<if test="updateTime != null">
		update_time=#{updateTime,jdbcType=TIMESTAMP},
		</if>

		<if test="companyName != null">
      	company_name=#{companyName,jdbcType=VARCHAR},
		</if>
		<if test="companyTelephone != null">
      	company_telephone=#{companyTelephone,jdbcType=TIMESTAMP},
		</if>
		<if test="companyCeo != null">
      	company_ceo=#{companyCeo,jdbcType=VARCHAR},
		</if>
		<if test="companySite != null">
      	 company_site=#{companySite,jdbcType=VARCHAR},
		</if>
		<if test="companyAddress != null">
      	company_address=#{companyAddress,jdbcType=VARCHAR},
		</if>
		<if test="level != null">
      	level=#{level,jdbcType=INTEGER},
		</if>
		<if test="parentCompanyId != null">
      	parent_company_id=#{parentCompanyId,jdbcType=INTEGER},
		</if>
		<if test="parentCompanyName != null">
      	parent_company_name=#{parentCompanyName,jdbcType=VARCHAR},
		</if>
		<if test="secret != null">
	     secret=#{secret,jdbcType=VARCHAR},
		</if>
		<if test="status != null">
	     status=#{status,jdbcType=INTEGER},
		</if>
		
		id=#{id}
		 where id=#{id} limit 1;
		 
	</update>
    
    
    <select id="getCompanyById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
         select 
         <include refid="Base_Column_List" />
         from company
         where 1=1 and id=#{id}
    </select>
    <select id="getSecretById" resultType="java.lang.String" parameterType="java.lang.Integer" >
         select 
         secret
         from company
         where 1=1 and id=#{id}
    </select>
    <select id="deleteCompany"  parameterType="java.lang.Integer" >
        update company set `status` = 1 where id=#{id} limit 1;
    </select>
    <select id="activateCompany"  parameterType="java.lang.Integer" >
        update company set `status` = 0 where id=#{id} limit 1;
    </select>
    
    
</mapper>