<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brp.mapper.EmailTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.brp.entity.EmailTemplateEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createUser" property="createUser" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="VARCHAR" />
    <result column="updateUser" property="updateUser" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="templateCode" property="templateCode" jdbcType="VARCHAR" />
    <result column="templateName" property="templateName" jdbcType="VARCHAR" />
	<result column="templateContent" property="templateContent" jdbcType="VARCHAR" />
	  <result column="status" property="status" jdbcType="INTEGER" />
	  <result column="remark" property="remark" jdbcType="VARCHAR" />
	  <result column="subject" property="subject" jdbcType="VARCHAR" />
  </resultMap> 
  
  <sql id="Base_Column_List" >
	   id,createUser,createTime,updateUser,updateTime,templateCode,
	   templateName,templateContent,status,remark,subject
  </sql>
  <insert id="insertEmailTemplate" parameterType="com.brp.entity.EmailTemplateEntity" keyProperty="id" useGeneratedKeys="true">
    insert email_template
   		( createUser,createTime,updateUser,updateTime,templateCode,
	   templateName,templateContent,status,remark,subject)
    values
    	( #{createUser,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP},#{templateCode,jdbcType=VARCHAR},
    	#{templateName,jdbcType=VARCHAR},#{templateContent,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR},#{subject,jdbcType=VARCHAR})
  </insert>
  

   
    
	<select id="getEmailTemplateById" resultMap="BaseResultMap" parameterType="java.lang.String" >
         select 
         <include refid="Base_Column_List" />
         from email_template where id=#{id}
         limit 1;
    </select>
	<select id="getEmailTemplateByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select
		<include refid="Base_Column_List" />
		from email_template where templateCode=#{code}
		limit 1;
	</select>
    <select id="getEmailTemplatePage" resultMap="BaseResultMap" parameterType="com.brp.util.query.email.EmailTemplateQuery" >
         select 
         <include refid="Base_Column_List" />
         from email_template
    </select>
	<update id="switchStatus">
		update email_template set status = #{status} where id = #{id}
	</update>
    <update id="updateEmailTemplate" parameterType="com.brp.entity.EmailTemplateEntity">
		update email_template set 
		<if test="updateUser != null">
			updateUser=#{updateUser,jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null">
			updateTime=#{updateTime,jdbcType=TIMESTAMP},
		</if>
		<if test="templateCode != null">
			templateCode=#{templateCode,jdbcType=VARCHAR},
		</if>
		<if test="templateName != null">
			templateName=#{templateName,jdbcType=VARCHAR},
		</if>
		<if test="createUser != null">
			createUser=#{createUser,jdbcType=VARCHAR},
		</if>
		<if test="templateContent != null">
			templateContent=#{templateContent,jdbcType=VARCHAR},
		</if>
		<if test="remark != null">
			remark=#{remark,jdbcType=VARCHAR},
		</if>
		<if test="subject != null">
			subject=#{subject,jdbcType=VARCHAR},
		</if>
		id=#{id}
		 where id=#{id} limit 1;
		 
	</update>
</mapper>