<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brp.mapper.MemoMapper" >
  <resultMap id="BaseResultMap" type="com.brp.entity.MemoEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createUser" property="createUser" jdbcType="VARCHAR" />
    <result column="updateUser" property="updateUser" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="memoStartTime" property="memoStartTime" jdbcType="TIMESTAMP" />
    <result column="memoEndTime" property="memoEndTime" jdbcType="TIMESTAMP" />
    <result column="memoName" property="memoName" jdbcType="VARCHAR" />
    <result column="memoTypeId" property="memoTypeId" jdbcType="INTEGER" />
    
    <result column="memoDesc" property="memoDesc" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="companyId" property="companyId" jdbcType="VARCHAR" />
    <result column="isDelete" property="isDelete" jdbcType="INTEGER" />
  </resultMap> 
  
  <sql id="Base_Column_List" >
	   id,createUser,updateUser,createTime,updateTime,
	   user_id,mome_event_name,level,level_color,is_delete
  </sql>
  <insert id="insertMemo" parameterType="com.brp.entity.MemoEntity" >
    insert memo
   		(create_user,update_user,create_time, update_time,
   		userId,memoStartTime,memoEndTime,memoName,memoTypeId,
   		memoDesc,status,companyId,isDelete) 
    values
    	(#{createUser,jdbcType=VARCHAR},#{updateUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},
    	#{userId,jdbcType=INTEGER},#{memoStartTime,jdbcType=TIMESTAMP},#{memoEndTime,jdbcType=TIMESTAMP},#{memoName,jdbcType=VARCHAR},#{memoTypeId,jdbcType=INTEGER},
    	#{memoDesc,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},#{companyId,jdbcType=VARCHAR},#{isDelete,jdbcType=INTEGER})
  </insert>
 <select id="getMemoByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
         select 
         <include refid="Base_Column_List" />
         from memo
         where  user_id=#(userId)
         order by create_time desc
    </select>
 
 
</mapper>